.App {
  text-align: left;
  background-color: dimgrey;
  color: white;
}

.App-day {
   font-size: xx-large;
   text-indent: 50px;
   color: orange;
   margin: 5px 0;
 }

.App-time {
  font-size: large;
  text-indent: 50px;
  font-weight: 100;

}


